* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
.container {
  background-color: #d1ccc6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 50px;
}
.inputContainer {
  margin: 10px 0;
  margin: 10px 0;
  display: flex;
  gap: 1rem;
}

.heading {
  background-color: whitesmoke;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  font-size: 35px;
  border: 1px solid rgba(0, 0, 0, 0.228);
}

button {
  background-color: lightseagreen;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
  transition: all liner 0.2;
    border: 1px solid rgba(0, 0, 0, 0.228);
}
button:active {
  scale: 0.9;
}

#colorInput {
  padding: 0 10px;
  border-radius: 5px;
  color: black;
}
.currentColor {
  font-size: 18px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.228);
}
.currentColorValue{
    font-weight: bold;
    
}
